body {}

.container {
    background-color: skyblue;
    position: relative;
    -webkit-tap-highlight-color: padding: 50px;
    border: 1px solid #f2f2f2;
    width: 80%;
    margin: 20px auto;
}

.section {
    float: left;
    width: 33%;
}

.section_right {
    float: right;
    width: 33%;
}

.section_last {
    float: left;
    width: 34%;
}

.section_half {
    float: left;
    width: 50%;
}

.section_half_right {
    float: right;
    width: 50%;
}

.section_30p {
    float: left;
    width: 30%;
}

.section_70p {
    float: left;
    width: 70%;
}

.section_left {
    float: left;
    width: 70%;
}

.section_right {
    float: left;
    width: 30%;
}

.section_scrollbar {
    height: 150px;
    overflow: scroll;
    border: 1px gray solid;
}

.section_label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.section_clear {
    clear: left;
    margin-top: 10px;
}

img {
    float: left;
    width: 250px;
    height: 150px;
}

input[type="text"] {
    width: 150px;
    height: 30px;
    border: 2px solid #b5b2ba;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #0d74af;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
}

select,
option {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

table {
    border: 1px #0000FF solid;
}

th {
    background-color: black;
    color: white;
    text-align: left;
}

.field_set {
    /*border-color:#007198;*/
    border: 0 solid #f2f2f2;
    /*text-align: center;*/
}

h1 {
    font-family: Optimist Light;
    box-sizing: border-box;
    display: block;
    color: #007198;
    margin-top: 0 font-weight: 500;
    line-height: 1.1;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
    font-weight: normal;
}

#mi {
    width: 56px;
}

#section_half {
    float: left;
    width: 40%;
    margin-left: 28px;
}

input[name="phoneno"] {
    width: 200px;
    height: 25px;
}

input[type="email"] {
    height: 25px;
}

input[name="dob"] {
    height: 25px;
}